#navbar
{
	padding-left:200px;
	overflow: auto;
	background-color: #6f7a8a;
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	-webkit-box-shadow: 0 25px 12px -10px #697382;
       -moz-box-shadow: 0 25px 12px -10px #697382;
            box-shadow: 0 25px 12px -10px #697382;
}

#navbar a{
	float: left;
	display: block;
	color: #909aa8;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 12px;
	font-family: Arial, Helvetica, sans serif;
}

#navbar a:hover
{
	color:#BEC7D5;
}

h1
{
	margin: 0;
    line-height: normal;
    letter-spacing: normal;
}

h1.font_0
{
	font-style:normal;
	font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
	fonr-stretch: normal;
	font-size: 65px;
	font-family:lulu-clean-w01-one-bold,sans-serif;
	color: #FFFFFF
}

h5
{
	margin: 0;
    line-height: normal;
    letter-spacing: normal;
}

h5.font_5
{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 24px;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    color: #FFFFFF;
}

span.color_18
{
	color: #00D646
}


#main
{
	margin-top:30px;
}

body{
	background-color: #6f7a8a;
	font-size: 10px;
    font-family: Arial,Helvetica,sans-serif;
	padding-left:200px;
	padding-top:150px;
}

